
<div class="text-center mt-5">
   
    <br><br><br><br><br>
   <img src='<%= image_url 'EPL.JPG' %>' class="img-responsive" alt="16/17"><br>
<br>
</div>
    <div class = "container">
    <form action="/t_market/search" method="get">
      <div class="col-md-6 offset-md-3">
        <input type="text" class="form-control" name="team_name" placeholder="팀이름을 입력해주세요">
        <div class="text-center"><br>
            <input class="btn btn-primary" type="submit" value="검색">
        </div>
      </div>
    </form>
    </div>